mixin intro()

  -
    const dataSlides = [
      {
        img: "slide1",
        path: "slides",
        format: "png",
        width: 992,
        height: 601,
        alt: "slide1",
      },
      {
        img: "slide2",
        path: "slides",
        format: "png",
        width: 992,
        height: 601,
        alt: "slide2",
      },
      {
        img: "slide1",
        path: "slides",
        format: "png",
        width: 992,
        height: 601,
        alt: "slide1",
      },
      {
        img: "slide2",
        path: "slides",
        format: "png",
        width: 992,
        height: 601,
        alt: "slide2",
      }
    ]


  .intro
    h1.visually-hidden Клюшки
    .intro__img
      +img("content", "intro-blurs", "png", 1444, 707, "bg")
    .intro__title
      +img("content", "intro-title", "png", 1096, 117, "bg")
    .intro__wrapper
      .intro__slider
        .intro__container.swiper
          .intro__slides.swiper-wrapper
            each item in dataSlides
              .intro__slide.swiper-slide
                +img(item.path, item.img, item.format, item.width, item.height, item.alt)
      .intro__slider-buttons
        .intro__slider-button.intro__slider-button--left.swiper-button-prev
          +icon("slider-btn", 78, 58)
        .intro__slider-button.intro__slider-button--right.swiper-button-next
          +icon("slider-btn", 78, 58)

