mixin promo()

  -
    const promoSlides = [
      {
        img: "promo-slide1",
        path: "slides",
        format: "png",
        width: 282,
        height: 271,
        alt: "t100",
        text: "Хоккейная клюшка Заряд Т100",
        price: "14 690 ₽",
      },
      {
        img: "promo-slide1",
        path: "slides",
        format: "png",
        width: 282,
        height: 271,
        alt: "t100",
        text: "Хоккейная клюшка Заряд Т100",
        price: "14 690 ₽",
      },
      {
        img: "promo-slide1",
        path: "slides",
        format: "png",
        width: 282,
        height: 271,
        alt: "t100",
        text: "Хоккейная клюшка Заряд Т100",
        price: "14 690 ₽",
      },
      {
        img: "promo-slide1",
        path: "slides",
        format: "png",
        width: 282,
        height: 271,
        alt: "t100",
        text: "Хоккейная клюшка Заряд Т100",
        price: "14 690 ₽",
      },
      {
        img: "promo-slide1",
        path: "slides",
        format: "png",
        width: 282,
        height: 271,
        alt: "t100",
        text: "Хоккейная клюшка Заряд Т100",
        price: "14 690 ₽",
      },
      {
        img: "promo-slide1",
        path: "slides",
        format: "png",
        width: 282,
        height: 271,
        alt: "t100",
        text: "Хоккейная клюшка Заряд Т100",
        price: "14 690 ₽",
      },
      {
        img: "promo-slide1",
        path: "slides",
        format: "png",
        width: 282,
        height: 271,
        alt: "t100",
        text: "Хоккейная клюшка Заряд Т100",
        price: "14 690 ₽",
      },
      {
        img: "promo-slide1",
        path: "slides",
        format: "png",
        width: 282,
        height: 271,
        alt: "t100",
        text: "Хоккейная клюшка Заряд Т100",
        price: "14 690 ₽",
      },
    ]

  .promo
    .container
      .promo__wrapper
        h2.promo__header.headers__h2 Выбор наших клиентов
        .promo__slider
          .promo__container.swiper
            .promo__slides.swiper-wrapper
              each item in promoSlides
                .promo__slide.swiper-slide
                  +img(item.path, item.img, item.format, item.width, item.height, item.alt)
                  .promo__slide-info
                    p.promo__slide-text= item.text
                    p.promo__slide-price= item.price
                  .promo__slide-links
                    a.promo__slide-chart(href="#")
                      +icon("icon-chart", 26, 26)
                    a.promo_slide-more(href="#") Подробнее
                      +icon("icon-more", 16, 16)


          .promo__slider-buttons
            .promo__slider-button.promo__slider-button--left.swiper-button-prev
              +icon("slider-btn", 78, 58)
            .promo__slider-button.promo__slider-button--right.swiper-button-next
              +icon("slider-btn", 78, 58)
    .promo__banners
      .promo__fix-ban
        p.promo__fix-ban-item Клюшки                  Одежда                 Аксессуары                  Клюшки                Одежда                 Аксессуары                Клюшки                  Одежда                  Аксессуары                 Клюшки                 Одежда                 Аксессуары                  Клюшки                  Одежда                Аксессуары                Клюшки                Одежда                 Аксессуары
      .promo__anim-ban
        p.promo__anim-ban-item Уникальная клюшка с твоим именем           Уникальная клюшка с твоим именем           Уникальная клюшка с твоим именем            Уникальная клюшка с твоим именем            Уникальная клюшка с твоим именем            Уникальная клюшка с твоим именем
