.about {
    background-color: $color-black;
    position: relative;
    margin-top: -1px;

    &__wrapper {
        position: relative;
        background-color: $color-white-smoke;
        padding-left: 160px;
        padding-top: 100px;
        padding-bottom: 100px;
        border-top-left-radius: 87px;
        border-bottom-left-radius: 87px;

        margin-left: 190px;
    }

    .container {
        padding-left: 0;

        display: grid;
        grid-template-columns: 45% 65%;
        gap: 84px;
    }

    &__header {
        color: $color-night-rider;
        margin: 0;
        margin-bottom: 24px;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: $color-night-rider;
        margin: 0;
        margin-bottom: 40px;
    }

    &__btn {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $color-international-orange;
        width: 150px;
        height: 150px;
        border: 1px solid $color-international-orange;
        border-radius: 50%;
        padding: 29px;
        transition: $trans-default;

        &:hover {
            border: 2px solid $color-international-orange;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        padding-top: 75px;
        margin: 0;
    }

    &__item {
        margin-bottom: 54px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__item-header {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        color: $color-night-rider;
        margin: 0;
        margin-bottom: 16px;
    }

    &__item-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: $color-grey;
        margin: 0;
        margin-bottom: 40px;
        max-width: 590px;
    }
}
