mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Клюшки",
        active: true
      },
      {
        href: "#",
        text: "Одежда",
        active: false
      },
      {
        href: "#",
        text: "Аксессуары",
        active: false
      },
      {
        href: "#",
        text: "Кастомизация",
        active: false
      },
      {
        href: "#",
        text: "Отследить заказ",
        active: false
      },
    ]

    const otherLinks = [
      {
        href: "#",
        icon: "icon-search",
        width: 26,
        height: 26
      },
      {
        href: "#",
        icon: "icon-phone",
        width: 26,
        height: 26
      },
      {
        href: "#",
        icon: "icon-chart",
        width: 26,
        height: 26
      },
      {
        href: "#",
        icon: "icon-user",
        width: 26,
        height: 26
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          +img("content", "logo", "svg", 62, 30, "logo")
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
      .header__lang
        a.header__lang-link.active(href="#") Ru
        a.header__lang-link(href="#") En
      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              li.main-nav__item
                if link.active
                  a.main-nav__link.active(href=link.href)=link.text
                else
                  a.main-nav__link(href=link.href)=link.text

          ul.main-nav__other
            each item in otherLinks
              li.main-nav__other-item
                a.main-nav__other-link(href= item.href)
                  +icon(item.icon, item.width, item.height)
        .main-nav__cart
          a(href="#")
            +icon("icon-cart", 50, 50)
